{{ partial "header.html" . }}
<body>

  <table class="content-container">
    <tr>
      <td class="mobile-header">
        {{ partial "mobile_header.html" . }}
      </td>
      <td class="hidden" />
    <tr/>
    <tr>
      <td class="mobile-menu sidebar" id="mobile-menu">
        {{ partial "sidebar.html" . }}
      </td>
      <td class="hidden" />
    </tr>
    <tr>
      <td class="content">

        <div class="post">

          <h1>{{ .Title }}</h1>

          <table>
            <tr>
              <th>Title</th>
              <th>Date</th>
              <th>Tags</th>
            </tr>

            {{ range .Site.Pages }}
            {{if eq .Type "post" }}
            <tr>
              <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
              <td>{{ dateFormat "2006-01-02" .Date }}</td>
              <td>
                {{ with .Params.tags }}
                {{ delimit . ", " }}
                {{ end }}
              </td>
            </tr>
            {{ end }}
            {{ end }}
          </table>

          <hr />

          {{ .Content }}

        </div>

      </td>
      <td class="sidebar" rowspan="2">
        {{ partial "sidebar.html" . }}
      </td>
    </tr>
  </table>

</body>
{{ partial "footer.html" . }}
