{{ partial "header.html" . }}
<body>
  {{ partial "mobile_header.html" . }}
  <div id="content-wrapper">
    <div class="post">
      <h1>{{ .Title }}</h1>
      <table>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Tags</th>
        </tr>
        {{ range .Site.Pages }}
        {{if eq .Type "post" }}
        <tr>
          <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
          <td>{{ dateFormat "2006-01-02" .Date }}</td>
          <td>
            {{ with .Params.tags }}
            {{ delimit . ", " }}
            {{ end }}
          </td>
        </tr>
        {{ end }}
        {{ end }}
      </table>
      <hr />
      {{ .Content }}
    </div>
  </div>
  <div id="navbar-wrapper">
    <div id="navbar">
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</body>
{{ partial "footer.html" . }}
