html {
  font-size: 16px;
}

.content {
  max-width: 120rem;
}

.sidebar-about h1 {
  font-family: 'Istok Web', sans-serif;
}

.sidebar-nav-item strong {
  color: #5c5c5c;
  font-size: 1.5em;
}

.horizontally-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1.sidebar-title {
  font-size: 2em;
}

ul.sidebar-nav {
  margin-top: 40px;
}
