{{ partial "header.html" . }}
<body>
  {{ partial "mobile_header.html" . }}
  <div id="content-wrapper">
    <div class="post">
      <h1 class="post-title">{{ .Title }}</h1>
      <span class="post-date">{{ dateFormat "2006-01-02" .Date }}</span>
      {{ .Content }}
    </div>

    <div id="pagination">
      {{ if .Next }}
      <a href="{{ .Next.Permalink }}">Older</a>
      {{ end }}
      {{ if .Prev }}
      <a href="{{ .Prev.Permalink }}/">Newer</a>
      {{ end }}
    </div>
  </div>
  <div id="navbar-wrapper">
    <div id="navbar">
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</body>
{{ partial "footer.html" . }}
