<img id="profile" src="/groovestomp_icon.jpg" alt="GrooveStomp Profile Picture" />
<ul>
  <li class="title"><a href="/">{{ .Site.Title }}</a></li>
  <li class="{{ if eq .Title "GrooveStomp" }} active{{ end }}"><a href="/">Latest</a></li>
  <li class="{{ if eq .Title "About" }} active{{ end }}"><a href="/about/">About</a></li>
  <li class="{{ if eq .Title "All Posts" }} active{{ end }}"><a href="/all_posts/">All Posts</a></li>
  <li class="{{ if eq .Title "Boardgaming" }} active{{ end }}"><a href="/tags/boardgaming/">Boardgaming</a></li>
  <li class="{{ if eq .Title "Programming" }} active{{ end }}"><a href="/programming/">Programming</a></li>

  <li class="header">Elsewhere</li>
  <li class=""><a href="https://code.groovestomp.com">Code</a></li>
  <li class=""><a href="https://github.com/GrooveStomp">GitHub</a></li>
  <li class=""><a href="https://bitbucket.org/GrooveStomp">BitBucket</a></li>

  <li class=""><a href="https://nextcloud.groovestomp.com/s/XwHBRGkrq43dqE6">CV</a></li>
  <li class=""><a href="https://mastodon.club/@GrooveStomp">Mastodon</a></li>

  <!-- TODO(AARON): Fix feeds!
  <li class="header">Follow</li>
  <li class=""><a href="/feed.xml" rel="self">Everything Feed</a></li>
  <li class=""><a href="/boardgaming_feed.xml" rel="self"> Boardgaming Feed</a></li>
  <li class=""><a href="/programming_feed.xml" rel="self"> Programming Feed</a></li>
  -->
</ul>
