{{ partial "header.html" . }}

<body class="layout-reverse">

{{ partial "mobile_header.html" . }}
{{ partial "sidebar.html" . }}

<div class="content container">

  {{ $paginator := (.Paginate (where .Site.Pages "Type" "post")) }}
  {{ range $paginator.Pages }}
  <div class="post">
    <h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    <span class="post-date">{{ dateFormat "2006-01-02" .Date }}</span>
    {{ .Content }}
  </div>
  {{ end }}

</div>

{{ partial "paginator.html" $paginator }}

{{ partial "footer.html" . }}
