<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {{ if eq .Kind "page" }}<link rel="canonical" href="{{ .Permalink }}">{{ end }}
  </head>
  <body>
    <div id="navigation">
      <ul>
        <li><a href="http://home.groovestomp.com">/home</a></li>
        <li class="active"><a href="/">/blog</a></li>
        <li{{ if eq .Title "Tags" }} class="active"{{ end }}><a href="/tags">/post_tags</a></li>
        <li><a href="/post/index.xml">/rss</a></li>
      </ul>
    </div>
