html {
    font-family: 'Source Sans Pro', 'Geneva', 'Roboto', 'Liberation Sans', 'MS Sans Serif';
}
/* Mobile view */
@media only screen and (min-width: 0px) {
    body {
        width: 100%;
        margin: 0;
    }
    #content-wrapper {
        width: 100%;
        clear: both;
    }
    #navbar-wrapper {
        width: 100%;
        display: none;
    }
}
/* Non-mobile small resolution view */
@media only screen and (min-width: 800px) {
    body {
        width: 100%;
        margin: 0;
        display: flex;
    }
    #content-wrapper {
        width: 80%;
    }
    #navbar-wrapper {
        width: 20%;
        display: block;
    }
    #mobile-header, #mobile-menu {
        display: none;
    }
}
/* Full desktop view */
@media only screen and (min-width: 1280px) {
    body {
        width: 70%;
        margin: 0 auto;
        display: flex;
    }
    #content-wrapper {
        width: 75%;
    }
    #navbar-wrapper {
        width: 30%;
        display: block;
    }
    #mobile-header, #mobile-menu {
        display: none;
    }
}

#content-wrapper {
    border-left: 0.5px solid #a0a0a0;
    border-top: 0.5px solid #a0a0a0;
    border-bottom: 0.5px solid #a0a0a0;
    margin: -1px;
    padding: 0;
    background: #202020;
}

#content, #navbar {
    padding: 1em;
    background: #000;
    background-color: #202020;
    color: #d5d5d5;
    margin: 0;
}

#content {
    background-color: #3c3c3c;
}

#navbar-wrapper {
    border: 0.5px solid #a0a0a0;
    margin: -1px;
    padding: 0;
    background-color: #202020;
    color: #d5d5d5;
}

body {
    border: 0.5px solid #a0a0a0;
    border-left: 0;
    border-right: 0;
    background:
      radial-gradient(black 15%, transparent 16%) 0 0,
      radial-gradient(black 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
}

/* ------------------------------------------- */

a, a:visited {
    color: #efefef;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#navbar ul, #mobile-menu ul {
    list-style: none;
    padding-left: 0;
}

#navbar .header, #navbar .title, #mobile-menu .header, #mobile-menu .title {
    font-size: 150%;
    margin: 0.5em 0;
}
#navbar .title, #mobile-menu .title {
    font-weight: bold;
    color: #fff;
    text-align: center;
}
#navbar .title a:hover, #mobile-header h1 a:hover {
    text-decoration: none;
}

.post-date {
    color: #9a9a9a;
}

.post-title, .post-title a {
    color: #fff;
}

.post {
    background-color: #3c3c3c;
    padding: 1em;
    border-bottom: 0.5px solid #a0a0a0;
    color: #d5d5d5;
}

.post a, .post a:hover, .post a:visited {
    color: #58bdfd;
}

.post h1 a, .post h1 a:hover, .post h1 a:visited {
    color: #fff;
}

.post hr {
    border: 0;
    border-bottom: 0.5px solid #a0a0a0;
    margin: 0;
    padding: 0;
}

#mobile-header, #mobile-menu {
    background-color: #202020;
    color: #d5d5d5;
    padding: 0.5em;
    padding-left: 1em;
}

#mobile-header h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    display: inline-block;
}

#mobile-menu {
    border-top: 0.5px solid #a0a0a0;
    font-size: 150%;
    text-align: center;
    display: none;
}

#mobile-menu #profile, #mobile-menu li.title {
    display: none;
}

.mobile-button {
    transform: scale(2,2);
    margin-right: 0.7em;
    margin-top: 0.7em;
    float: right;
}

table.nav-buttons {
    padding: 0;
    margin: 0;
}
table.nav-buttons td {
    width: 50%;
    border: 1px solid #a0a0a0;
    border-collapse: collapse;
}

.pixelated {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

#footnotes {
    color: #fff;
}

.post sub sup {
    margin-right: 0.5em;
}

.post pre {
    background-color: #4d4d4d;
    margin: 0;
    padding: 1em;
    white-space: no-wrap; /*pre-wrap;*/
    word-wrap: normal; /*break-word;*/
    word-break: keep-all; /*break-word;*/
    overflow: auto;
}

.post table {
    border: 1px solid #a0a0a0;
    border-collapse: collapse;
    padding: 0.5em;
    margin: 0;
    min-width: 100%;
    color: #d5d5d5;
}

.post blockquote {
    background-color: #4d4d4d;
    padding: 1em 2em;
    margin: 0;
}

.horizontal-scroll {
    overflow-x: scroll;
    min-width: 100%;
}

.post table tr:nth-child(even) {
    background-color: #4d4d4d;
}

.post table td, .post table th {
    padding: 0.5em;
    border: 1px solid #a0a0a0;
}

#pagination {
    margin: 0;
    padding: 1em;
    background: #3c3c3c
}

#pagination a {
    border: 1px solid #a0a0a0;
    padding: 1em;
    display: block;
    background-color: #3c3c3c;
    text-align: center;
    margin-left: 1px;
    margin-right: -1px;
}

#pagination a:hover {
    background-color: #4d4d4d;
    text-decoration: none;
}

#pagination a:nth-child(even) {
    margin-top: 1em;
}

.message {
    margin: 0;
    padding: 1em;
    background-color: #4d4d4d;
}

img#profile {
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
