html {
  font-family: 'Source Sans Pro', 'Geneva', 'Roboto', 'Liberation Sans', 'MS Sans Serif';
  font-size: 16px;
}

.layout-reverse {
    position: relative;
}

.content {
  max-width: 120rem;
}

.sidebar-about h1 {
  font-family: 'Source Sans Pro', 'Geneva', 'Roboto', 'Liberation Sans', 'MS Sans Serif';
}

.sidebar-nav-item strong {
  color: #fff;
  font-size: 1.5em;
}

.horizontally-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.special_container {
    margin: 0 0 1px 0;
    padding: 1em 1em 1em 1em;
    background-color: #3c3c3c;
}

h1.sidebar-title {
  font-size: 2em;
}

ul.sidebar-nav {
  margin-top: 40px;
}

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
  display: none;
}
.sidebar li a { font-size: 2em; }
@media (min-width: 48rem) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
    display: inline;
  }
  .sidebar li a { font-size: 1em; }
}

.mobile-menu {
    border: 0;
    margin: 0;
    padding: 20px;
    background-color: #202020;
    width: 100%;
    display: block;
    color: #FFF;
    font-family: 'Source Sans Pro', 'Geneva', 'Roboto', 'Liberation Sans', 'MS Sans Serif';
    font-size: 2em;
    font-weight: bold;
    line-height: 1.25;
}
@media (min-width: 48rem) {
    .mobile-menu {
        display: none;
    }
}

.pixelated {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

#hamburger img{
    position: absolute;
    right: 0;
    display: inline;
    transform: scale(2,2);
    margin-right: 1em;
    margin-top: 0.3em;
}
